<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Author Home Page</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Optional theme -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap-theme.min.css"
    />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
      body {
        font-family: "Lobster", cursive;
        background: #ddf0ef;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 70vh;
      }
      .main-page-link {
        margin-top: 20px; /* Adjust margin top for spacing */
        text-align: center; /* Center align text */
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h1 class="text-center mt-4 mb-4">Author Home Page</h1>
          <div class="text-center">
            <h2>Blog Name</h2>
            <h3>Author Name</h3>
          </div>
          <div class="mt-4">
            <h2>Articles</h2>
            <ul class="list-group">
              <% articles.forEach(article =>{%>
              <li class="list-group-item">
                <h3><%= article.article_title%></h3>
                <p><%= article.article_content %></p>
                <small
                  >By <%= article.user_name %> on <%= article.createdDate
                  %></small
                >
                <div
                  class="btn-group ml-2"
                  role="group"
                  aria-label="Article Action"
                >
                  <button
                    type="button"
                    class="btn btn-sm btn-primary ml-2"
                    onclick="window.location.href ='/author/edit-article/<%= article.blog_id %>'"
                  >
                    Edit
                  </button>
                  <form
                    action="/author/publish/<%= article.blog_id %>"
                    method="post"
                    style="display: inline"
                  >
                    <button type="submit" class="btn btn-sm btn-success ml-2">
                      Publish
                    </button>
                  </form>
                  <form
                    action="/author/delete/<%= article.blog_id %>"
                    method="post"
                    style="display: inline"
                  >
                    <button type="submit" class="btn btn-sm btn-danger ml-2">
                      Delete
                    </button>
                  </form>
                </div>
              </li>
              <% }) %>
            </ul>
          </div>

          <div class="mt-4">
            <button
              class="btn btn-primary"
              onclick="window.location.href ='/author/create-draft'"
            >
              Create Draft
            </button>
          </div>
          <h2>Published Articles</h2>
          <ul class="list-group">
            <% publishedArticles.forEach(article =>{ %>
            <li class="list-group-item">
              <h3><%= article.published_article_title %></h3>
              <p><%= article.published_article_content %></p>
              <small>By <%= article.user_name %></small>
            </li>
            <% }) %>
          </ul>
        </div>

        <div class="container-fluid main-page-link">
          <div class="row">
            <div class="col text-center">
              <a href="/" class="btn btn-secondary">Main Page</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </body>
</html>
